/* LN lato fonts definition */
@import "../styles/css/ln-fonts.css";
@import "tailwindcss";
@import "../styles/css/reboot.css";
@import "../styles/css/ln-font-sizes.css";
@import "../styles/css/ln-breakpoints.css";
@import "../styles/css/ln-grid.css";
@import "../styles/css/ln-spacing.css";
@import "../styles/css/ln-typography.css";
@import "../styles/css/ln-component-helpers.css";

:root {
  --background: #ffffff;
  --foreground: #455A64;
  --dark-blue: #00172e;
}

@theme {
  --font-lato: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  --color-dark-blue: var(--dark-blue);
  --color-blue-gray: #455A64;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
