@theme {
    --text-6xl: 3.5rem; /* 56px */
    --text-6xl--line-height: 4.5rem; /* 72px */
    --text-5xl: 2.5rem; /* 40px */
    --text-5xl--line-height: 3rem; /* 48px */
    --text-4xl: 2rem; /* 32px */
    --text-4xl--line-height: 2.5rem; /* 40px */
    --text-3xl: 1.75rem; /* 28px */
    --text-3xl--line-height: 2.25rem; /* 36px */
}